# -----------------------
# macOS
# -----------------------
.DS_Store

# -----------------------
# IDE (Goland / JetBrains)
# -----------------------
.idea/
*.iml
*.iws
*.ipr
*.run.xml

# -----------------------
# Локальные секреты
# -----------------------
.env